
<div class="post-detailed-section">
  <div class="panel panel-info">
    <div class="panel-info panel-heading">
      <h3>{{model.title}}</h3>
      <h5>{{model.author}}</h5>
    </div>
    <div class="panel-body">
      <p>{{model.details}}</p>
    </div>
    <div class="panel-footer">
      <h5>Category: {{model.category}}</h5>
    </div>
    <div class="panel-footer">
      {{update-post updatePost="updatePost" post=model}}
    </div>
    <div class="panel-footer">
      {{add-reply saveReply="saveReply" post=model}}
    </div>
    <div class="panel-footer">
      {{#each model.replies as |reply|}}
      {{reply-display reply=reply updateReply='updateReply' handleError='handleError'}}
      {{/each}}
    </div>
  </div>
</div>
